@namespace 
url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*General style*/

.urlbar-history-dropmarker,
#star-button,  
#page-proxy-favicon,
.scrollbutton-up,
.scrollbutton-down,
.tab-close-button,
.tab-icon-image,
#go-button {
    display: none !important;
}

#identity-box {
    -moz-appearance: none !important;
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
}

#nav-bar {
    background: #37393d !important;
    border: none !important;
    border-bottom: 1px solid #37393d !important;
    margin-top: -4px !important;
    padding-right: 8px !important;
    padding-left: 8px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 39px !important;
}

#navigator-toolbox:after {
    background-color: #d4d4d4 !important;
}

#addon-bar {
    background: #37393d !important;
    border-top: 1px solid #d4d4d4 !important;
    height: 14px !important;
}

#urlbar {
    font-size: 10pt !important;
    color: #232323 !important;
    border: 1px solid #1b1b1b !important;
    border-radius: 3px !important;
    background: #ddd !important;
    box-shadow: none !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding-left: 2px !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
    height: 28px !important;
}

#searchbar .searchbar-textbox {
    color: #444 !important;
    border: 1px solid #bdbdbd !important;
    border-radius: 3px !important;
    background: #fff !important;
    box-shadow: none !important;
    height: 28px !important;
}
    

#tabbrowser-tabs {
    background: #37393d !important;
    border: 1px !important;
    padding-top: 2px !important;
    margin-top: -4px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-bottom: 2px !important;
    height: 39px !important;
}

.tabbrowser-tab {
    border: none !important;
    border-radius: 3px !important;
    background: #505257 !important;
    margin-top: 0 !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    margin: 4px !important;
    box-shadow: none !important;
    margin-right: 4px !important;
    height: 28px !important;
}
.tabbrowser-tab:hover {
    background: #6f737f !important;
    box-shadow: none !important; 
    transition: all 0.1s ease 0s !important;
}

.tabbrowser-tab[selected=true], .tabbrowser-tab[selected=true]:hover {
    background: #ddd !important;
    margin-bottom: 4px !important;
    border-top: none !important;
    transition: none !important;
}

.tab-text {
    font-size: 10pt !important;
    text-align: center !important;
    color: #aaa !important;
    padding-bottom: 2px !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
    text-shadow: none !important
}

.tab-text:hover {
    color: #555 !important;
    transition: all 0.3s ease 0s;
}

.tab-text[selected="true"] {
    color: #444 !important;
}

/*Disable FXChrome tab background for tabs*/
.tab-content {
    border: none !important;
    border-width: 0px 0px !important;
    -moz-margin-start: 0 !important;
    -moz-margin-end: 0px !important;
}

/*Remove the padding caused by the left and right arrows*/
.tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
    -moz-padding-start: 0px !important;
    -moz-padding-end: 0px !important;
}

.toolbar-primary {
    margin-left: -2px !important;
    margin-right: -2px !important;
    border: none !important;
}

/* Location bar buttons */
#urlbar-reload-button,
#urlbar-stop-button,
#urlbar-go-button {
    padding-top: 1px !important;
    opacity: 0.5 !important;
    border-radius: 2px !important;
    border: none !important;
}

#urlbar-reload-button:hover,
#urlbar-stop-button:hover,
#urlbar-go-button:hover {
    transition: all 0.3s ease 0s !important;
    opacity: 0.75 !important;
    background: transparent !important;
}

.tabs-newtab-button {
    -moz-margin-start: 0px !important;
    margin: 2px !important;
    padding-bottom: 1px !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
    background: #37393D !important;
    border: 1px solid #505257 !important;
    border-radius: 3px !important;
    box-shadow: none !important;
}

.tabs-newtab-button .toolbarbutton-icon {
    margin-bottom: 1px !important;
}

.tabs-newtab-button:hover {
    background: #505257 !important;
    transition: all 0.1s ease 0s;
}

.tabs-newtab-button:active {
    background: #252629 !important;
    box-shadow: none !important;
    border-top-color: transparent !important;
    border-bottom-color: rgba(255,255,255,0.1) !important;
    transition: all 0.1s ease 0s;
}

#back-button {
    width: 31px !important;
    margin: 4px !important;
    margin-right: 0px !important;
    margin-left: 4px !important;
    background: #37393d !important;
    border: 1px solid #505257 !important;
    border-radius: 3px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    box-shadow: none !important;
}

#forward-button {
    width: 31px !important;
    margin: 4px !important;
    margin-left: 0px !important;
    background: #37393d !important;
    border: 1px solid #505257 !important;
    border-left: 0px !important;
    border-radius: 3px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    box-shadow: none !important;
}

#reload-button, 
#downloads-button, 
#downloads-indicator, 
#appmenu-toolbar-button, 
#tabview-button,
#bookmarks-menu-button,
#bookmarks-button,
#home-button,
#stop-button,
#alltabs-button {
    width: 31px !important;
    margin: 4px !important;
    background: #37393D !important;
    border: 1px solid #505257 !important;
    border-radius: 3px !important;
    box-shadow: none !important;
}

#back-button:hover, 
#forward-button:hover, 
#reload-button:hover, 
#downloads-indicator:hover, 
#appmenu-toolbar-button:hover, 
#tabview-button:hover,
#bookmarks-menu-button:hover,
#bookmarks-button:hover,
#home-button:hover,
#stop-button:hover,
#alltabs-button:hover {
    background: #505257 !important;
    box-shadow: none !important;
    transition: all 0.3s ease 0s;
}

#back-button:active, 
#forward-button:active, 
#reload-button:active, 
#downloads-indicator:active, 
#appmenu-toolbar-button:active, 
#tabview-button:active,
#bookmarks-menu-button:active,
#bookmarks-button:active,
#home-button:active,
#stop-button:active,
#alltabs-button:active {
    box-shadow: none !important;
    background: #eee !important;
    transition: all 0.3s ease 0s;
}


/* Icon replacements */
.tabs-newtab-button .toolbarbutton-icon {
    list-style-image: 
url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAbCAYAAACAyoQSAAAABmJLR0QAwgDCAMKN1+F2AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QEIFxonlu5eSwAAAF9JREFUSMdjYBgFo2AUDHbASI6mvLy8/zD2pEmTSDaDhRxLOTg4KPIp00AEL9OgjVPkOEQP3h8/fqCoJSaOWSiNQ3Lil2nIZJmysjJ4cHd1dTGOpt5BZekoGAWjYPADALPCD2CJ3ddJAAAAAElFTkSuQmCC) 
!important;
    -moz-image-region: rect(0px, 29px, 27px, 0px)!important;
    opacity: 0.55;
}

.tabs-newtab-button:hover .toolbarbutton-icon {
    opacity: 1.0;
    transition: all 0.3s ease 0s;
}

#back-button .toolbarbutton-icon {
    list-style-image: 
url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAcCAYAAACdz7SqAAAABmJLR0QAoQChAKHNb6lwAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QEJABcdRJkrJAAAAHNJREFUSMft1DkOwCAMRNExHUek9cHcckxSRYoIBV6g8q9BD7EBWZbdrLU2tHPIC9ZaAQAiQsfRL/i2C9Nt0IR6QTUaAarQKBAAyu7AGfSkWikz/97k0e2NhE1n4oWLBV0Bmu+wWC/DDPfeCbdabXWWZaE9NLYwEAEBBL0AAAAASUVORK5CYII=) 
!important;
    -moz-image-region: rect(0px, 29px, 27px, 0px)!important;
    opacity: 0.6 !important;
}

#back-button:hover .toolbarbutton-icon {
    opacity: 1.0 !important;
    transition: all 0.3s ease 0s;
}

#forward-button .toolbarbutton-icon {
    list-style-image: 
url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAcCAYAAACdz7SqAAAABmJLR0QAoQChAKHNb6lwAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QEJABcS1CY2tQAAAHRJREFUSMftlCsWACEIRR/TWKKVhVlZItFJljlT+GjiZvQe8QHQNM1Jxhgrewd5ikVkAYCZQVXpuHQLNxlx6KVZsftAhTjUnqw4HIaM+KkaJWa+214AmHPStSB5hemRiQhdf/q3/iJCl/SbzKgQVSFqmuYoL6SiQhCpx5SsAAAAAElFTkSuQmCC) 
!important;
    -moz-image-region: rect(0px, 29px, 27px, 0px)!important;
    opacity: 0.6 !important;
}

#forward-button:hover .toolbarbutton-icon {
    opacity: 1.0 !important;
    transition: all 0.3s ease 0s;
}

/* Change icons' opacity so it fits with the rest of the theme */
#reload-button .toolbarbutton-icon, 
#downloads-indicator .toolbarbutton-icon, 
#downloads-button .toolbarbutton-icon, 
#appmenu-toolbar-button .toolbarbutton-icon, 
#tabview-button .toolbarbutton-icon,
#bookmarks-menu-button .toolbarbutton-icon,
#bookmarks-button .toolbarbutton-icon,
#home-button .toolbarbutton-icon,
#stop-button .toolbarbutton-icon,
#alltabs-button .toolbarbutton-icon {
    opacity: 0.55 !important;
}

#reload-button:hover .toolbarbutton-icon, 
#downloads-indicator:hover .toolbarbutton-icon, 
#downloads-button .toolbarbutton-icon,
#appmenu-toolbar-button:hover .toolbarbutton-icon, 
#tabview-button:hover .toolbarbutton-icon,
#bookmarks-menu-button:hover .toolbarbutton-icon,
#bookmarks-button:hover .toolbarbutton-icon,
#home-button:hover .toolbarbutton-icon,
#stop-button:hover .toolbarbutton-icon,
#alltabs-button:hover .toolbarbutton-icon {
    opacity: 0.9 !important;
    transition: all 0.3s ease 0s;
}

scrollbar scrollbarbutton ,
scrollbar gripper {
	visibility: collapse;
}
scrollbar ,
scrollbar thumb {
	-moz-appearance: none !important;
}
scrollbar[orient="vertical"] {
	-moz-margin-start: -4px;
	min-width: 4px;
	max-width: 4px;
}
scrollbar[orient="horizontal"] {
	margin-top: -4px;
	min-height: 4px;
	max-height: 4px;
}
scrollbar {
	position: relative;
	background-image: none;
	z-index: 2147483647;
	background-color: transparent;
}
scrollbar:hover {
	background-color: ButtonHighlight;
	transition: all 0.3s ease 0s;
}
scrollbar thumb {
	border: none !important;
	border-radius: 1.5px !important;
	background-color: #92969b;
	opacity: .55;
	padding: 1px !important;
}
scrollbar:hover thumb {
	opacity: 1;
	background-color: #3878d4 !important;
}
scrollbar thumb:active ,
scrollbar thumb:hover {
	opacity: 1;
	background-color: ButtonShadow;
	transition: all 0.3s ease 0s;
}
